.env
.env.*
node_modules/
dist/
build/
coverage/
*.log
*.tmp
*.bak
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
*.sln
*.suo
*.ntvs*
*.njsproj
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
soumyaops/.env.example